/SCAIIF/nbproject/private/
/Phoenix/nbproject/private/
/Phoenix/build/
/Phoenix/dist/
/SCAIIF/build/
/SCAIIF/dist/
\.DS_Store
/ModulosAndres/nbproject/private/
/ModulosAndres/build/
/ModulosAndres/dist/