<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Actividad">
    
    <select id="recuperarActividadesAsesor" 
            parameterType="modelo.pojos.Actividad" 
            resultType="modelo.pojos.Actividad">
        SELECT noActividad, nombre FROM actividad 
        WHERE noPersonal = #{noPersonal} AND fecha >= #{fecha};
    </select>
    
    <select id="getActividades" parameterType="int" 
            resultType="modelo.pojos.Actividad">
        SELECT nombre, Reservacion.fecha FROM Actividad 
        INNER JOIN Reservacion ON 
        Actividad.noActividad = Reservacion.noActividad
        WHERE noPersonal = #{noPersonal};
    </select>
    
    <select id="getnoActividad" resultType="modelo.pojos.Actividad">
        SELECT noActividad FROM Actividad;
    </select>
    
    
</mapper>