<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Actividad">
    
    <select id="recuperarActividadesAsesor" 
            parameterType="modelo.pojos.Actividad" 
            resultType="modelo.pojos.Actividad">
        SELECT noActividad, nombre, fecha FROM actividad 
        WHERE noPersonal = #{noPersonal} AND fecha >= #{fecha};
    </select>
    
    <select id="getActividades" parameterType="int" 
            resultType="modelo.pojos.Actividad">
        SELECT nombre, fecha FROM Actividad 
        WHERE noPersonal = #{noPersonal};
    </select>
    
    <select id="getnoActividad" resultType="modelo.pojos.Actividad">
        SELECT actividad.noActividad, nombre FROM Actividad INNER JOIN
        Reservacion ON actividad.noActividad = reservacion.noActividad
        WHERE reservacion.fecha = #{fecha};
    </select>
    
    <select id="getActividadesPendientes" 
            resultType="modelo.pojos.ActividadAsesor">
        SELECT noActividad, actividad.nombre, horaInicio, horaFin, fecha, 
        usuario.nombre AS nombreAsesor, usuario.apPaterno, usuario.apMaterno 
        FROM actividad INNER JOIN usuario ON actividad.noPersonal = 
        usuario.noPersonal WHERE actividad.idEstado = 1;
    </select>
    
    <select id="getActividadesPorImpartir" parameterType="String"
            resultType="modelo.pojos.ActividadAsesor">
        SELECT * From Actividad WHERE nombre = #{nombre};
    </select>
    
    <update id="cambiarEstado" parameterType="map">
        UPDATE actividad set idEstado = #{idEstado} where noActividad = 
        #{noActividad};
    </update>
    
    <select id="actividadesDisponibles" resultType="modelo.pojos.ActividadAsesor" parameterType="map">
        SELECT actividad.*, usuario.nombre AS nombreAsesor, usuario.apPaterno, 
        usuario.apMaterno FROM actividad INNER JOIN usuario ON actividad.noPersonal =
        usuario.noPersonal WHERE noActividad NOT IN (SELECT noActividad FROM 
        reservacion WHERE matricula = #{matricula}) AND actividad.nrc = #{nrc}
        AND actividad.idEstado = 1;
    </select>
    
    <select id="actividadesCalendario" resultType="modelo.pojos.ActividadAsesor"
            parameterType="int">
        SELECT actividad.*, curso.idPeriodo, curso.nombreCurso FROM 
        actividad INNER JOIN curso ON actividad.nrc = curso.nrc WHERE 
        curso.nrc = #{nrc} AND actividad.idEstado = 2;
    </select>
    
    <select id="detalleActividad" resultType="modelo.pojos.ActividadAsesor"
            parameterType="int">
        SELECT actividad.*, usuario.nombre AS nombreAsesor, usuario.apPaterno, 
        usuario.apMaterno FROM actividad INNER JOIN usuario ON 
        actividad.noPersonal = usuario.noPersonal WHERE actividad.noActividad = 
        #{noActividad};
    </select>
</mapper>