<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Actividad">
    
    <select id="recuperarActividadesAsesor" 
            parameterType="modelo.pojos.Actividad" 
            resultType="modelo.pojos.Actividad">
        SELECT noActividad, nombre FROM actividad 
        WHERE noPersonal = #{noPersonal} AND fecha >= #{fecha};
    </select>
    
    <select id="getActividades" parameterType="int" 
            resultType="modelo.pojos.Actividad">
        SELECT nombre, Reservacion.fecha FROM Actividad 
        INNER JOIN Reservacion ON 
        Actividad.noActividad = Reservacion.noActividad
        WHERE noPersonal = #{noPersonal};
    </select>
    
    <select id="getnoActividad" resultType="modelo.pojos.Actividad">
        SELECT noActividad FROM Actividad;
    </select>
    
    <select id="getActividadesPendientes" 
            resultType="modelo.pojos.ActividadAsesor">
        SELECT noActividad, actividad.nombre, horaInicio, horaFin, fecha, 
        usuario.nombre AS nombreAsesor, usuario.apPaterno AS apellidoPAsesor, 
        usuario.apMaterno AS apellidoMAsesor FROM actividad INNER JOIN usuario 
        ON actividad.noPersonal = usuario.noPersonal WHERE actividad.idEstado = 
        0;
    </select>
    
    <update id="cambiarEstado" parameterType="map">
        UPDATE actividad set idEstado = #{estado} where noActividad = 
        #{noActividad};
    </update>
    
    <select id="actividadesDisponibles" 
            resultType="modelo.pojos.ActividadAsesor" parameterType="string">
        SELECT actividad.nombre, horaInicio, horaFin, fecha, usuario.nombre 
        AS nombreAsesor FROM actividad INNER JOIN usuario ON 
        actividad.noPersonal = usuario.noPersonal WHERE noActividad NOT IN 
        (SELECT noActividad FROM reservacion WHERE matricula = #{matricula});
    </select>
     
</mapper>