<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Calificación">

    <update id="actualizarCalificacion" parameterType="modelo.pojos.Calificacion">
        UPDATE Calificacion SET calificacion = #{calificacion}
        WHERE matricula = #{matricula};
    </update>
</mapper>