<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Curso">

    <select id="getCursos" parameterType="String" resultType="modelo.pojos.Curso">
        SELECT curso.nrc, nombreCurso FROM curso INNER JOIN calificacionModulo ON
        curso.nrc = calificacionModulo.nrc WHERE matricula = #{matricula};
    </select>
</mapper>