<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Curso">

    <select id="getCursos" parameterType="String" resultType="modelo.pojos.Curso">
        SELECT curso.nrc, nombreCurso FROM curso INNER JOIN Inscripcion ON
        curso.nrc = Inscripcion.nrc WHERE matricula = #{matricula};
    </select>

    <select id="getCursosbyPeriodo" parameterType="int" resultType="modelo.pojos.Curso">
        SELECT nrc, nombreCurso FROM curso WHERE idPeriodo = #{idPeriodo};
    </select>
    
    <select id="recuperarCursosAlumno" parameterType="string" resultType="modelo.pojos.Curso">
        SELECT curso.nombreCurso, curso.nrc FROM inscripcion INNER JOIN curso ON 
        inscripcion.nrc = curso.nrc INNER JOIN alumno ON alumno.matricula = 
        inscripcion.matricula WHERE alumno.matricula = #{matricula};
    </select>
</mapper>