<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Induccion">
    <select id="getHistorial" parameterType="int" resultType="modelo.pojos.Induccion">
        SELECT matricula FROM Induccion WHERE noPersonal = #{noPersonal};
    </select>

    <insert id="registrarInduccion" parameterType="modelo.pojos.Induccion">
        INSERT INTO induccion(matricula, nrc, cursoInduccion, primeraAsesoria, noPersonal) VALUES
        (#{matricula}, #{nrc}, #{cursoInduccion}, #{primeraAsesoria}, #{noPersonal});
    </insert>
</mapper>