<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Mes">
    <select id="mesesCalendarioHechos" parameterType="int" resultType="modelo.pojos.Mes">
        SELECT * FROM mes WHERE idMes
        IN (SELECT idMes FROM resumenMes WHERE idCalendario = #{idCalendario});
    </select>

    <select id="mesesPendientes" parameterType="int" resultType="modelo.pojos.Mes">
        SELECT * FROM mes WHERE idMes
        NOT IN (SELECT idMes FROM resumenMes WHERE idCalendario = #{idCalendario});
    </select>
</mapper>