<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Observacion">
    <insert id="agregarObservacion" parameterType="modelo.pojos.Observacion">
        INSERT INTO observacion (matricula, noPersonal, asunto, comentario) 
        VALUES (#{matricula}, #{noPersonal}, #{asunto}, #{comentario});
    </insert>
</mapper>