<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Reservacion">
        <select id="getListaAsistencia" parameterType="map" resultType="servicios.pojos.Reservacion">
        SELECT nombre, asistencia 
            FROM reservacion
            INNER JOIN alumno ON reservacion.matricula = alumno.matricula
            WHERE noActividad = #{noActividad} AND fecha = #{fecha}
    </select>
</mapper>