<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Usuario">
    <select id="getUsuario" parameterType="int" 
            resultType="servicios.pojos.Usuario">
        SELECT * FROM usuario WHERE noPersonal = #{noPersonal};
    </select>
    
    <select id="getNombreUsuario" parameterType="int" resultType="servicios.pojos.Usuario">
        SELECT nombre, apPaterno, apMaterno FROM usuario WHERE noPersonal = #{noPersonal};
    </select>
</mapper>
